@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

button,
a {
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        135deg,
        rgba(254, 246, 247, 0.85) 0%,
        rgba(240, 249, 244, 0.85) 100%
    );
}

@keyframes bounceY {
    0%,
    100% {
        transform: translateY(-5%);
    }
    50% {
        transform: translateY(0);
    }
}

.bounce-y {
    animation: bounceY 3s ease-in-out infinite;
}

.card-hover {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

/* HIDE NATIVE TIME ICON (Chrome, Edge) */
input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
}

/* FOR FIREFOX */
input[type='time'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --font-playfair-display: 'Playfair Display', serif;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(0.9789 0.0128 345.4817);
    --foreground: oklch(0.3139 0.0171 346.5128);
    --card: oklch(0.9894 0.0064 345.3115);
    --card-foreground: oklch(0.3139 0.0171 346.5128);
    --popover: oklch(0.9894 0.0064 345.3115);
    --popover-foreground: oklch(0.3139 0.0171 346.5128);
    --primary: oklch(0.7215 0.1176 359.0666);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9605 0.0174 48.5355);
    --secondary-foreground: oklch(0.5092 0.0205 48.297);
    --muted: oklch(0.9364 0.0052 345.2877);
    --muted-foreground: oklch(0.5901 0.0182 345.9306);
    --accent: oklch(0.9587 0.0059 354.7656);
    --accent-foreground: oklch(0.4475 0.0385 356.9548);
    --destructive: oklch(0.6333 0.2001 24.932);
    --destructive-foreground: oklch(1 0 0);
    --success: oklch(0.7188 0.1403 136.3174);
    --success-foreground: oklch(1 0 0);
    --border: oklch(0.9025 0.0117 345.4804);
    --input: oklch(0.9204 0.0065 345.3272);
    --ring: oklch(0.7658 0.0966 358.0374);
    --chart-1: oklch(0.7215 0.1176 359.0666);
    --chart-2: oklch(0.7412 0.1399 144.0032);
    --chart-3: oklch(0.745 0.0929 299.4376);
    --chart-4: oklch(0.8367 0.0986 83.8408);
    --chart-5: oklch(0.8094 0.086 195.5867);
    --sidebar: oklch(0.9758 0.0029 345.2214);
    --sidebar-foreground: oklch(0.3619 0.0207 346.5745);
    --sidebar-primary: oklch(0.7259 0.0979 358.278);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9204 0.0065 345.3272);
    --sidebar-accent-foreground: oklch(0.4084 0.0241 346.6187);
    --sidebar-border: oklch(0.8391 0.0133 345.5527);
    --sidebar-ring: oklch(0.7707 0.0802 357.44);
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(330, 5%, 50%);
    --shadow-2xs: 0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.05);
    --shadow-xs: 0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.05);
    --shadow-sm:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.1),
        0px 1px 2px -1px hsl(330 5% 50% / 0.1);
    --shadow:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.1),
        0px 1px 2px -1px hsl(330 5% 50% / 0.1);
    --shadow-md:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.1),
        0px 2px 4px -1px hsl(330 5% 50% / 0.1);
    --shadow-lg:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.1),
        0px 4px 6px -1px hsl(330 5% 50% / 0.1);
    --shadow-xl:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.1),
        0px 8px 10px -1px hsl(330 5% 50% / 0.1);
    --shadow-2xl: 0px 0.25rem 0.75rem 0rem hsl(330 5% 50% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2616 0.0202 347.059);
    --foreground: oklch(0.9174 0.013 345.51);
    --card: oklch(0.2915 0.0236 347.1486);
    --card-foreground: oklch(0.9174 0.013 345.51);
    --popover: oklch(0.2915 0.0236 347.1486);
    --popover-foreground: oklch(0.9174 0.013 345.51);
    --primary: oklch(0.7707 0.0802 357.44);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.4179 0.0326 47.9214);
    --secondary-foreground: oklch(0.8439 0.018 48.4996);
    --muted: oklch(0.3619 0.0207 346.5745);
    --muted-foreground: oklch(0.7188 0.0121 345.5777);
    --accent: oklch(0.3572 0.0291 356.8296);
    --accent-foreground: oklch(0.8772 0.0136 355.0329);
    --destructive: oklch(0.5972 0.1977 25.5155);
    --destructive-foreground: oklch(1 0 0);
    --success: oklch(0.6561 0.1339 143.8617);
    --success-foreground: oklch(1 0 0);
    --border: oklch(0.4084 0.0241 346.6187);
    --input: oklch(0.3333 0.0186 346.5402);
    --ring: oklch(0.8161 0.063 356.7176);
    --chart-1: oklch(0.7259 0.0979 358.278);
    --chart-2: oklch(0.6561 0.1339 143.8617);
    --chart-3: oklch(0.6563 0.1068 298.762);
    --chart-4: oklch(0.7691 0.1109 83.0728);
    --chart-5: oklch(0.7334 0.0876 195.412);
    --sidebar: oklch(0.2942 0.0157 346.4808);
    --sidebar-foreground: oklch(0.9007 0.0157 345.5924);
    --sidebar-primary: oklch(0.8004 0.0626 356.7475);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.39 0.0227 346.6026);
    --sidebar-accent-foreground: oklch(0.8362 0.02 345.7568);
    --sidebar-border: oklch(0.4356 0.026 346.6398);
    --sidebar-ring: oklch(0.8457 0.0475 356.1522);
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mono: 'Fira Code', monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 0.25rem;
    --shadow-blur: 0.75rem;
    --shadow-spread: 0rem;
    --shadow-opacity: 0.3;
    --shadow-color: hsl(330, 5%, 10%);
    --shadow-2xs: 0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.15);
    --shadow-xs: 0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.15);
    --shadow-sm:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.3),
        0px 1px 2px -1px hsl(330 5% 10% / 0.3);
    --shadow:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.3),
        0px 1px 2px -1px hsl(330 5% 10% / 0.3);
    --shadow-md:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.3),
        0px 2px 4px -1px hsl(330 5% 10% / 0.3);
    --shadow-lg:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.3),
        0px 4px 6px -1px hsl(330 5% 10% / 0.3);
    --shadow-xl:
        0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.3),
        0px 8px 10px -1px hsl(330 5% 10% / 0.3);
    --shadow-2xl: 0px 0.25rem 0.75rem 0rem hsl(330 5% 10% / 0.75);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
